*{
  margin: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 30px 0;
  font-size: 3.5em;
}


#calc-box {
  width: 400px;
  height: 550px;
  margin: 0 auto;
  background-color:#2e3131;

  #calc-display {
    width: 400px;
    height: 100px;
    margin: 0 auto;
    background-color: #383838;
    position: relative;
    p {
      color: white;
      font-size: 3em;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 10px;

    }
  }
  #calc-buttons {
    width: 350px;
    margin: 20px auto 0 auto;
    background-color: #2e3131;
    // border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    #zero {
      width: 160px;
      border-radius: 40px;
      button {
        padding: 25px 40px;
      }
    }
    .btn {
      width:80px;
      height: 80px;
      // border: 1px solid black;
      border-radius: 80%;
      background-color: #2F4F4F;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 1px;
      transition: background-color .4s;
      &:hover {
        background-color:#708090;
      }
      button {
        background-color: transparent;
        border: none;
        background-repeat: no-repeat;
        cursor: pointer;
        overflow: hidden;
        padding: 15px;
        color:white;
        font-size: 25px;
      }
      button:focus {outline:0;}
    }
    .right-row {
      background-color:#f9bf3b;
      color: white;
      transition: background-color .4s;
      button {
        color: white;
      }
      &:hover {
        background-color: #fcd670;
      }
    }
    .top-row {
      background-color: #e4e9ed;
      transition: background-color .4s;
      button {
        color: black;
      }
      &:hover {
        background-color: white;
      }
    }

  }
}
.key--operator {}
